*{
  margin: 0;
  padding: 0;
}

.container{
  background-color: #2d2d2d;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.icons{
  display: flex;

}

.Ryu{
  height: 200px;
  margin-bottom: 20px;
  position: absolute;
  margin-right: 110px;
  bottom: 0;
}

.big{
  /* width: 140px !important; */
}

.medium{
  /* width: 120px !important; */
}

.Ken{
  height: 200px;
  margin-left: 110px;
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  margin-bottom: 20px;
  bottom: 0;
}

.attackIcon, .defenseIcon{
  border: 2px solid #cdd8dd;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.area{
  width: 200px;
  height: 250px;
  position: relative;
}

.attackIcon:active, .defenseIcon:active{
  background-color: #6f6f6f;
}

.attack::selection, .defense::selection{
  background-color: transparent;
}

.attack, .defense{
  width: 50px;
}